/**
 * ----------------------------------------------------------------------------------------
 * 3.0 - Presentation Styles.
 * ----------------------------------------------------------------------------------------
 */

/**
 * Grid.
 */
.demo-col {
	background-color: #def0fa;
	text-align: center;
	padding: 1em 0;
	display: block;

	border: solid 1px lightgrey;
}

.row {
	margin-bottom: 2em;
}
